<!doctype html>
<html data-framework="backbonejs">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/vendors/css/materialize.min.css">
        <link rel="stylesheet" href="assets/vendors/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100italic,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/style.min.css">
    </head>
    <body>

    <div class="container" id="main-wrap">
        <div class="row">
            <div class="col s12">
                <script type="text/template" id="site">
                    <header class="row">
                        <div class="col s12">

                            <nav>
                                <div class="nav-wrapper">
                                    <a href="#!/" class="brand-logo">BackboneJS</a>
                                    <ul class="right hide-on-med-and-down">
                                        <li><a href="#!/">Home</a></li>
                                        <li><a href="#!/post">Post</a></li>

                                        <% if (loginState) { %>
                                            <li><a href="#!/logout">Log Out</a></li>
                                        <% } else { %>
                                            <li><a id='auth-login-btn' href="#!/auth">Auth</a></li>
                                        <% } %>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </header>

                    <main class='row' id="main-content">
                        <div class="col s12">
                            <div id="auth-form-container" class="col s6 offset-s3">

                            </div>
                            <div class="col-md-10 col-sm-6 col-sm-offset-3 col-md-offset-1">

                                <div id="post-from-server">

                                </div>
                            </div>
                        </div>
                    </main>
                </script>
            </div>
        </div>
    </div>

    <script type="text/template" id="auth-view">


        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="auth-email" type="text" class="validate">
                        <label for="auth-email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="auth-password" type="password" class="validate">
                        <label for="auth-password">Password</label>
                    </div>
                    <div class="col s6 offset-s6" id="submit-block">
                        <a href="#!/auth-user" id='auth-btn' class="waves-effect waves-light btn">Auth</a>
                    </div>
                </div>
            </form>
        </div>


    </script>

    <script type="text/template" id="posts-view">
        <div class="post-title">
            <div><%=title%></div>
            <div class="delete-container">

            </div>
        </div>
        <div class="post-descr">
            <img class="responsive-img" src="src/images/flat_01.jpg">
            <div>
                <span><%=description%></span>
            </div>
        </div>
        <div class="like-container"></div>
    </script>

    <script type="text/template" id="like-post-view">
        <a class='like-btn'><i class="fa fa-heart"> <%= like %></i></a>
    </script>

    <script type="text/template" id="delete-post-view">
        <i class="fa fa-times delete-btn"></i>
    </script>



    <script src="assets/vendors/js/jquery.min.js"></script>
    <script src="assets/vendors/js/materialize.min.js"></script>
    <script src="assets/vendors/js/underscore.min.js"></script>
    <script src="assets/vendors/js/backbone.min.js"></script>
    <!--<script src="assets/vendors/js/backbone-localstorage.min.js"></script> -->
    <script src="src/app/models/app.model.js"></script>
    <script src="src/app/models/auth.model.js"></script>
    <script src="src/app/models/post.model.js"></script>
    <script src="src/app/views/app.view.js"></script>
    <script src="src/app/views/auth.view.js"></script>
    <script src="src/app/views/post.view.js"></script>
    <script src="src/app/models/post.model.js"></script>
    <script src="src/app/collections/post.collection.js"></script>
    <!-- <script src="src/app/models/auth.model.js"></script>
        <script src="src/app/models/post.model.js"></script>
        <script src="src/app/collections/post.collection.js"></script>
        <script src="src/app/views/post.view.js"></script>
        <script src="src/app/views/app.view.js"></script>
        <script src="src/app/views/auth.view.js"></script> -->
    <script src="src/app/routers/app.router.js"></script>
    <script src="src/app/app.index.js"></script>
   <!-- <script src="src/app/routers/app.router.js"></script> -->
    </body>
</html>